<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login_page.css')}}">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="to_close" class="alert show showAlert">
            <span>{{messages[0]}}</span>
        </div>
    {% endif %}
    {% endwith %}

    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Log In</h1>
                </div>
                <form method="POST" class="form">
                    <div class="input-control">
                        <label for="email" class="input-label" hidden>Email Address</label>
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="passwd" id="password" class="input-field" placeholder="Password">
                    </div>
                    <div class="input-control">
                        <input type="submit" name="submit" class="input-submit" value="Sign In">
                    </div>
                </form>
            </section>
        </div>
    </main>

    <script>
        const close_btn = document.getElementById('to_close')
        setTimeout(() => {
            close_btn.classList.remove('show');
            close_btn.classList.add('hide');
        },4000);
    </script>
</body>

</html>