{% extends 'base.html' %}

{% block content %}
<div class="body_css">

    <div class="container_1">
        <header>Upload Form</header>
        <div class="upload_progress_bar">

            <div class="step">
                <p>Title</p>
                <div class="bullet">
                    <span>1</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Category</p>
                <div class="bullet">
                    <span>2</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Upload</p>
                <div class="bullet">
                    <span>3</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
        </div>
        <div class="form-outer">
            <form action="#">

                <div class="page slide-page">
                    <div class="title">Photo Title</div>
                    <div class="field">
                        <div class="upload_label">Title *</div>
                        <input type="text" />
                    </div>
                    <div class="field">
                        <div class="upload_label">Sub-Title</div>
                        <input type="text" />
                    </div>
                    <div class="field btns">
                        <button class="next-3 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Category</div>
                    <div class="field">
                        <div class="upload_label">Existing Category</div>
                        <select>
                            <option value="">None</option>
                            <option name="cat1">fashion</option>
                            <option name="cat2">lifestyle</option>
                            <option name="cat3">natural</option>
                            <option name="cat4">photo</option>
                            <option name="cat5">travel</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="upload_label">New Category</div>
                        <input type="text" />
                    </div>
                    <div class="field btns">
                        <button class="prev-4 prev">Previous</button>
                        <button class="next-4 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Upload</div>
                    <div class="field">
                        <div class="upload_label">Upload Photo</div>
                            <div class="col-lg-6 right-div m-0">
                                <label for="inputTag">
                                    Select Image <br />
                                    <i class="fa fa-2x fa-camera" style="font-size: 1px;"></i>
                                    <input id="inputTag" type="file" multiple>
                                    <br>
                                    <span id="imageName"></span>
                                </label><br>
                                uplode Images
                            </div>
                            </button>
                        </div>
                    </div>
                    <div class="field btns">
                        <button class="prev-5 prev">Previous</button>
                        <button class="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}